<!--Code for the Update page-->


<!DOCTYPE html>
<html lang = "en">

<head>
    
    <!--Used to have the most amount characters so everyone can view it-->
    <meta charset = "UTF-8">

    <!--Tells the web to scale it to the device it is on and on a 1:1 scale so not zoomed in or out-->
    <meta name = "viewport" content = "width= device-width, initial-scale = 1.0">

    <title>JobTracker Update</title>

    <!--Used to download the Inter font to that it works-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!--Connects the file to the css file that has the styles-->
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>Job Tracker</h1>

    <button id = "dark-mode-toggle">Dark Mode Toggle</button>

    <div class = "container">
        <!--Header for the update page with there name-->
        <h2>Update Job</h2>


        <!--POST so it is secure and not showing in the url and action register is for the route used in app.py to register the user-->
        <form method = "POST" action = "/update/{{job_id}}">

            <!-- Label gives and id then tells the user what it is for -->
            <label for = "status" >Status:</label>
            <br>
            <input type = "text" id = "status" name = "status" placeholder = "e.g., Applied, Interview, Offer" value = "{{status}}">
            <br>

            <!-- Label gives and id then tells the user what it is for -->
            <label for = "notes" >Notes:</label>
            <br>
            <textarea id = "notes" name = "notes" rows = "4" cols = "50">{{notes}}</textarea>
            <br>

            <!-- Label gives and id then tells the user what it is for -->
            <label for = "url" >URL:</label>
            <br>
            <input type="url" name="url" placeholder="https://example.com" value = "{{url}}">
            <br>

            <!-- Button to submit the form-->
            <button type = "submit">Update Job</button>

        </form>

        <!--Go back link-->
        <p>Go back <a href = "/dashboard">Click here</a></p>

    </div>

    <script>

        //If the theme was already dark add it to this page
        if (localStorage.getItem("theme") === "dark") {
            document.body.classList.add("dark");
        }

        //find the element dark mode and listen for a click
        document.getElementById("dark-mode-toggle").addEventListener("click", function() {
            
            //Change it to what the oppisite is
            document.body.classList.toggle("dark");

            //If it is dark then set as dark
            if (document.body.classList.contains("dark")) {
                localStorage.setItem("theme", "dark");
            } 
            
            //It is light so make the colors root
            else {
                localStorage.setItem("theme", "light");
            }
            
        });
    </script>
    
</body>
</html>