<!--Code for the Update page-->


<!DOCTYPE html>
<html lang = "en">

<head>
    <title>JobTracker Update</title>

    <!--Connects the file to the css file that has the styles-->
    <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">

    <!--Used to have the most amount characters so everyone can view it-->
    <meta charset = "UTF-8">
    <!--Tells the web to scale it to the device it is on and on a 1:1 scale so not zoomed in or out-->
    <meta name = "viewport" content = "width= device-width, initial-scale = 1.0">

    <!--Used to download the Inter font to that it works-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <!--Link to Style css code-->
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <!--Header for the update page with there name-->
    <h1>JobTracker Update Job</h1>


    <!--POST so it is secure and not showing in the url and action register is for the route used in app.py to register the user-->
    <form method = "POST" action = "/update/{{job_id}}">

        <!-- Label gives and id then tells the user what it is for -->
        <label for = "status" >Status:</label>
        <br>
        <input type = "text" id = "status" name = "status" placeholder = "e.g., Applied, Interview, Offer">
        <br>

        <!-- Label gives and id then tells the user what it is for -->
        <label for = "notes" >Notes:</label>
        <br>
        <textarea id = "notes" name = "notes" rows = "4" cols = "50"></textarea>
        <br>

        <!-- Label gives and id then tells the user what it is for -->
        <label for = "url" >URL:</label>
        <br>
        <input type="url" name="url" placeholder="https://example.com">
        <br>

        <!-- Button to submit the form-->
        <button type = "submit">Update Job</button>

    </form>

    <!--Go back link-->
    <p>Go back <a href = "/dashboard">Click here</a></p>

</body>
</html>